apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ansible_priv_ip}}
  bindPort: 6443
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
kubernetesVersion: 1.24.0
etcd:
  external:
    endpoints:
{% for item in groups['k8s_master'] %}
    - "http://{{ hostvars[item]['ansible_priv_ip'] }}:2379"
{% endfor %}
apiServer:
  certSANs:
{% for item in groups['k8s_master'] %}
  - "{{ hostvars[item]['ansible_priv_ip'] }}"
{% endfor %}
  - "127.0.0.1"
  timeoutForControlPlane: 4m0s
controlPlaneEndpoint: "{{ansible_priv_ip}}:6443"
clusterName: k8s
networking:
  dnsDomain: k8s.local
  podSubnet: {{k8s_podSubnet}}
