.gitsecret/keys/random_seed
!*.secret
roles/10-install-terraform-1.1.9/vars/main.yml
inventory/hosts.ini
roles/10-k8s-build-infrastructure/vars/main.yml
roles/10-k8s-destroy-infrastructure/vars/main.yml
roles/90-install-etcd/vars/main.yml
roles/20-k8s-init-cluster/vars/main.yml
