resource "yandex_compute_instance" "master" {
  count = {{k8s_master_count}}
  name = "master${count.index}"
  hostname = "master${count.index}-{{tf_cloud_id}}"

  resources {
    cores  = {{k8s_master_cores}}
    memory = {{k8s_master_memory}}
    core_fraction = {{k8s_master_cpu_percent}}
  }

  boot_disk {
    initialize_params {
      image_id = "{{k8s_os_image}}"
      size = {{k8s_master_hdd_size_gb}}
    }
  }

  network_interface {
    subnet_id = yandex_vpc_subnet.subnet-k8s.id
    nat       = true
  }

  metadata = {
    user-data = "${file("meta.txt")}"
  }
}

resource "yandex_compute_instance" "node" {
  count = {{k8s_node_count}}
  name = "node${count.index}"
  hostname = "node${count.index}-{{tf_cloud_id}}"

  resources {
    cores  = {{k8s_node_cores}}
    memory = {{k8s_node_memory}}
    core_fraction = {{k8s_node_cpu_percent}}
  }

  boot_disk {
    initialize_params {
      image_id = "{{k8s_os_image}}"
      size = {{k8s_node_hdd_size_gb}}
    }
  }

  network_interface {
    subnet_id = yandex_vpc_subnet.subnet-k8s.id
    nat       = true
  }

  metadata = {
    user-data = "${file("meta.txt")}"
  }
}

resource "yandex_vpc_network" "network-k8s" {
  name = "{{k8s_network_name}}"
}

resource "yandex_vpc_subnet" "subnet-k8s" {
  name           = "{{k8s_subnet_name}}"
  zone           = "ru-central1-b"
  network_id     = yandex_vpc_network.network-k8s.id
  v4_cidr_blocks = ["{{k8s_local_network}}"]
}

output "nat_ip_master" {
  value = yandex_compute_instance.master[*].network_interface.0.nat_ip_address
}

output "nat_ip_node" {
  value = yandex_compute_instance.node[*].network_interface.0.nat_ip_address
}

output "ip_master" {
  value = yandex_compute_instance.master[*].network_interface.0.ip_address
}

output "ip_node" {
  value = yandex_compute_instance.node[*].network_interface.0.ip_address
}

output "fqdn_master" {
  value = yandex_compute_instance.master[*].hostname
}

output "fqdn_node" {
  value = yandex_compute_instance.node[*].hostname
}

#output "data_master" {
#  value = [yandex_compute_instance.master[*].network_interface.0.nat_ip_address,yandex_compute_instance.master[*].network_interface.0.ip_address,yandex_compute_instance.master[*].hostname]
#}

#output "data_node" {
#  value = [yandex_compute_instance.node[*].network_interface.0.nat_ip_address,yandex_compute_instance.node[*].network_interface.0.ip_address,yandex_compute_instance.node[*].hostname]
#}
